extends layout

block content
    h1 Author Name: #{author.name}

    if author.lifespan.date_of_birth && author.lifespan.date_of_death
        |   Date of birth: 
        span.text-success #{author.lifespan.date_of_birth}
        |   Date of death: 
        span.text-danger #{author.lifespan.date_of_death}
    else if author.lifespan.date_of_birth
        |   Date of birth: 
        span.text-success #{author.lifespan.date_of_birth}
  
    div(style='margin-left:20px;margin-top:20px')

    h4 Books
    
    dl
      each book in author_books
        dt 
          a(href=book.url) #{book.title}
        dd #{book.summary}

      else
        p This author has no books.
    hr
    p
      a(href=author.url+'/delete')(style='color:red') #[strong Delete author]